<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="09.08.01" ExportDate="2017-11-20T23:29:53.8119286+01:00">
  <Header>
    <App Guid="35da6ff4-6936-4d03-9823-f225c396fce2" />
    <Language Default="en-US" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="b616d2be-5a7f-4855-9d0d-3fcbd86c4037" KeyNumber="770">
      <Value Key="AllowRazorTemplates" Value="False" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean" />
      <Value Key="Description" Value="" Type="String" />
      <Value Key="DisplayName" Value="System-Types" Type="String" />
      <Value Key="Folder" Value="System-Types" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="RequiredVersion" Value="08.09.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean" />
      <Value Key="Version" Value="00.00.02" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="76564f6d-38ad-4f63-b639-1ee8461fd656" KeyNumber="770" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="8476503a-6065-4956-993c-30adfc281795" KeyNumber="770" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="795617ce-44ee-46db-adcc-02cca39df3c3">
      <Value Key="ContentTypeStaticName" Value="" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentTypeStaticName" Value="" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="System Types" Type="String" />
      <Value Key="Path" Value="_dummy.cshtml" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="False" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="" Type="String" />
      <Value Key="Type" Value="C# Razor" Type="String" />
      <Value Key="UseForList" Value="False" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="2548" RelativePath="adam/System-Types/" />
  </PortalFolders>
</SexyContent>