<div class="sc-element">
    @Edit.Toolbar()
    <h1>
        System Types
    </h1>
    <div>
        this app manages all core data types which we'll distribute from now on...
    </div>

    <div>
        Click here 
        @Edit.Toolbar(actions: "app", settings: new { hover = "none", show = "always" }) 
        to manage the app. In there, export the types in the export UI (go to debug-mode)
    </div>
</div>