<div class="sc-element">
    @Edit.Toolbar()
    <h1>
        System Types
    </h1>
    <div>
        this app manages all core data types which we'll distribute from now on...
    </div>


    <div>
        Click here 
        @Edit.Toolbar(actions: "app") 
        to manage the app
    </div>
    <div>
        start <a href='@Link.To(parameters: "export=1")'>export</a>
    </div>
</div>